{% extends "base.html" %}

{% block title %}
    ZZ - {{ player.name }}
{% endblock %}

{% block content %}

    <p><a href="{{ url_for('league.home') }}">Back to League Services</a></p>

    <!-- Info -->
    <p><i>> last update: {{ player.account_summoner_data["last_updated"] }} EDT ({{ player.update_time_ago }})</i></p>
    <p><i>> current patch: {{ player.current_patch }}</i></p>
    <!-- <p><i>> jaZZ ID: *{{ player.jazz_id }}*</i></p> -->

    <!-- Refresh Option -->
    <form action="{{ url_for('league.refresh_summoner', server=player.server, summoner_name=player.name) }}" method="post">
        <button type="submit" class="btn btn-primary">Refresh Profile</button>
    </form><br>

    <!-- Profile Information -->
    <table border="1">
        <thead>
            <tr>
                <th colspan="2"><img src="https://ddragon.leagueoflegends.com/cdn/{{ player.current_patch }}/img/profileicon/{{ player.account_summoner_data['profile_icon_id'] }}.png" alt="Description" width="150"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">{{ player.account_summoner_data["game_name"] }}<br>{{ player.account_summoner_data["tag_line"] }}</td>
                <td align="center">Lvl: {{ player.account_summoner_data["summoner_level"] }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Rank -->
    {% if player.player_is_ranked %}
        <h2>Ranks</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Queue</th>
                    <th>Rank</th>
                    <th>Winrate</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in player.ranked_data %}
                <tr>
                    <td>{{ entry["queue_name"] }}</td> 
                    <td>{{ entry["tier"] }} {{ entry["division"] }} {{ entry["league_points"] }}LP</td>
                    <td>({{ entry["wins"] }}W/{{ entry["losses"] }}L) [{{ entry["win_rate"] }}%]</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>*Not Ranked</h2>
    {% endif %}

    <!-- Champion Mastery -->
    {% if player.player_has_champion_mastery %}
        <h2>Champion Mastery</h2>
        <table id="masteryTable" class="display">
            <thead>
                <tr>
                    <th>Champion</th>
                    <th>Level</th>
                    <th>Points</th>
                    <th>Last Played</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in player.champion_mastery_data %}
                <tr>
                    <td><img src="https://ddragon.leagueoflegends.com/cdn/{{ player.current_patch }}/img/champion/{{ entry['champion_icon_name'] }}.png" width="30px" height="30px"> {{ entry["champion_name"] }}</td>
                    <td>{{ entry["champion_level"] }}</td>
                    <td>{{ entry["champion_points"] }}</td>
                    <td>{{ entry["last_play_time"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>*No Champion Mastery</h2>
    {% endif %}

    <p>{{ player.challenges_data }}</p>

{% endblock %}

{% block page_specific_js %}

    <style>
        table td, table th {
            padding: 7px;
        }
    </style>

    <script>
        $(document).ready(function () {
            // Champion Mastery
            $('#masteryTable').DataTable({
                "order": [[2, "desc"]],
                'columnDefs': [{
                    "targets": 2,
                    "render": $.fn.dataTable.render.number(',', '.', 0)
                },]
            });
        });
    </script>

{% endblock %}
